.books-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 3rem;
  row-gap: 1rem;
}

/******** SEARCH BOOK SECTION ********/

.search-book-form {
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  box-shadow: 0 0 1px 1px var(--secundaryWhiteColor);
}

.search-book-label {
  display: block;
}

.search-book-input {
  border-radius: 5px;
  border: 1px solid var(--mainBlueColor);
  outline-color: var(--mainBlueColor);
  padding: 0.2rem;
  text-align: center;
}

.search-books-submit {
  border-radius: 5px;
  border: none;
  width: 100px;
  padding: 0.2rem 0.5rem;
  background-color: var(--mainBlueColor);
  color: var(--mainWhiteColor);
}

/******** BOOKS LIST SECTION ********/

.books-list-section {
  border-top: 1px solid var(--secundaryWhiteColor);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/******** BOOKS CARD ********/

.book-card {
  padding: 0 0.5rem;
  width: 250px;
  box-shadow: 0 0 1px 1px var(--secundaryWhiteColor);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 0.6rem;
}

.book-card-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.book-card-description {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.body-card-title {
  color: rgb(15, 14, 14);
  font-weight: 600;
}

.body-card-description-less {
  color: var(--secundaryGreyColor);
}

/******** BOOKS CARD MEDIA ********/

@media screen and (max-width: 550px) {
  .book-card {
    height: fit-content;
  }
}

/******** BOOK DETAILS ********/

.detail-book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.book-main-details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.book-main-details-extension {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-title {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.book-author {
  color: var(--mainBlueColor);
}
