:root {
  --mainBlackColor: #333333;
  --mainGreyColor: rgb(175, 175, 175);
  --secundaryGreyColor: rgb(112, 112, 112);
  --mainRedColor: #dc261b;
  --mainBlueColor: #4380ee;
  --mainWhiteColor: #f7f7f7;
  --secundaryWhiteColor: rgb(197, 197, 197);
  font-size: 16px;
}

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--mainWhiteColor);
}

p {
  margin: 0;
}
